p, h2, h3, h4, strong, body, html, div, head {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: darkgray;
  -webkit-font-smoothing:antialiased;
}

h2, h3, p, strong, h4 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.totm-num {
  font-weight: 400;
}

.top {
  background-color: lightgray;
  padding: 10px 10px 10px 10px;
}

.content {
  padding: 10px 0px 10px 0px;
}

.ingredients-list {
  background-color: gray;
  text-align: center;
  margin: auto;
}

.ingredients-list ul {
  display: inline-block;
}

.ingredients-list li {
  text-align: left;  
}

form {
  text-align: center;
}

h2.totm-num {
  padding: 10px;
}

h3 {
  padding: 10px;
  font-weight: bold; 
}

div.content-container {
  width:800px;
  margin: auto 0px;
}
